/*<link rel="stylesheet" href="webfonts.css" type="text/css" charset="utf-8">
body {
	font-weight: normal;
	font-style: normal;
	line-height:normal;
	font-family: 'StMarieWebThin', sans-serif;
}
div {
	font-weight: normal;
	font-style: normal;
	line-height:normal;
	font-family: 'StMarieWebThin', sans-serif;
}
h1 {
	font-weight: normal;
	font-style: normal;
	line-height:normal;
	font-family: 'StMarieWebThin', sans-serif;
}*/
